.calculator-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e60f0f;
    border-radius: 5px;
  }
  
  #display {
    font-size: 24px;
    padding: 10px;
    border: none;
    background-color: black;
    border-radius: 5px;
    color: white;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

  }
  
  button {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10%;
    background-color: blue;
    cursor: pointer;
    color: white;
  }
  
  button:hover {
    background-color: white;
    color: blue;
  }
  #btn{
    background-color: orangered;
  }
  #btn:hover{
    background-color: white;
    color: orangered;
  }
  